<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<mappers>
		<mapper resource="mybatis/SysUserMapper.xml"/>
		<mapper resource="mybatis/SysRoleMapper.xml"/>
		<mapper resource="mybatis/SysResourceMapper.xml"/>
		<mapper resource="mybatis/ProvinceMapper.xml"/>
	</mappers>
</configuration>